.container {
    padding-top: 20px;
}

h4.brand {
    border-bottom: 1px solid lightgray;
}

ol.options li {
    list-style-type: upper-alpha;
}

ul.questions > li {
    padding-top: 10px;
    border-top: 1px dashed lightgray;
    margin-bottom: 5px;
}

ul.no-style li {
    list-style-type: none;
}