.container {
    padding-top: 20px;
}

h4.brand {
    border-bottom: 1px solid lightgray;
}

table.questions {
    margin-bottom: 3.5em;
}

table.questions tr.options td.votes {
    text-align: right;
    padding-right: 5px;
}

ul.no-style li {
    list-style-type: none;
}
