{% extends "layouts/main.html" %}

{% block content %}
<div class="row">
    <div class="one-half column">
        <h5>Welcome to the admin side of our Q & A sessions. Add some questions on the right. </h5>

        {% if questions.length %}
            <h6>Current Questions:</h6>

            {% for question in questions %}
                {% include "admin/question.html" %}
            {% endfor %}

        {% endif %}
    </div>
    <div class="one-half column">
        <form action="/admin/submit" method="post">

            <label for="question-body">Question</label>
            <textarea name="question[body]" rows="4" cols="40" class="u-full-width" id="question-body" tabindex="1" placeholder="Where does the sun go at night?" required></textarea>


            <label for="question-options">Options</label>
            <input type="text" name="options[]" class="u-full-width" tabindex="2" placeholder="it shrinks and grows again in the morning" required />
            <input type="text" name="options[]" class="u-full-width" tabindex="3" placeholder="it's passed between the gods in an epic game of pickle" required />
            <input type="text" name="options[]" class="u-full-width" tabindex="4" placeholder="it goes to bed like we do" required />
            <input type="text" name="options[]" class="u-full-width" tabindex="5" placeholder="it has tea with the other stars" required />


            <input type="submit" value="Save Question" class="u-pull-right button-primary" tabindex="6"/>

        </form>
    </div>
</div>
{% endblock %}