{% extends "layouts/main.html" %}

{% block content %}
<div class="row">
    <div class="one-half column">
        <h4>Welcome to the Q & A sessions. Please answer the questions the best you can. Select your choice based on how you feel, not how you <em>think</em> you feel.</h4>
        <h4>No matter what you choose, <strong>you</strong> are the winner.</h4>
    </div>
    <div class="one-half column">
        {% if questions.length %}
            {% for question in questions %}
                {% include "guest/question.html" %}
            {% endfor %}
        {% else %}
            <h5>There are no questions at the moment. Come back later.</h5>
        {% endif %}

    </div>
</div>
{% endblock %}