{% extends "layouts/main.html" %}

{% block content %}
<div class="row">
    <div class="one-half column">
        <h4>Welcome to the Q & A sessions. Please answer the questions the best you can. Select your choice based on how you feel, not how you <em>think</em> you feel.</h4>
        <h4>No matter what you choose, <strong>you</strong> are the winner.</h4>
    </div>
    <div class="one-half column">
        <form action="/submit" method="post">
            <h5>Question goes here</h5>
            <ul class="no-style">
                <li>
                    <label>
                        <input type="radio" name="choice" />
                        <span class="label-body">Option 1</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="choice" />
                        <span class="label-body">Option 1</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="choice" />
                        <span class="label-body">Option 1</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="choice" />
                        <span class="label-body">Option 1</span>
                    </label>
                </li>
            </ul>

            <input type="submit" value="Next" class="button-primary" tabindex="6"/>
        </form>

    </div>
</div>
{% endblock %}